body { font-family: 'Outfit', sans-serif; background-color: #ffffff; font-size: 17px; }
.hero-section {
    background: linear-gradient(rgba(130, 81, 159, 0.85), rgba(130, 81, 159, 0.85)), url('https://placehold.co/1920x1080/475569/FFFFFF?text=EA+Logistics+Fleet') no-repeat center center;
    background-size: cover;
}
#header { transition: all 0.3s ease-in-out; }
.nav-link.active { color: #f8a41e; font-weight: 600; }
.slider-dot { transition: background-color 0.3s ease; }
.slider-dot.active { background-color: #f8a41e; }
.accordion-content { max-height: 0; overflow: hidden; transition: max-height 0.5s ease-in-out; }
.accordion-button .accordion-icon { transition: transform 0.3s ease; }
.accordion-button.active .accordion-icon { transform: rotate(135deg); }
